<a href="https://colab.research.google.com/github/sudenurozturk/Intro2Python/blob/main/operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operators

There are 4 types of operators in Python:
1. Arithmetic
2. Assignment
3. Comparison
4. Logical

In [1]:
print(2 + 5)

7

There are also mathematical operations that are probably less familiar, like the floor division. Unlike the normal division, here the result will be rounded to a whole number. Thatâ€™s why it is also called integer division. In Python, the number will always be rounded to the smaller integer, and we use double back slash symbols for this. Finally, we have the modulo operator, which will give you the remainder of a division.

In [2]:
print("5 + 2 =", 5+2)
print("5 - 2 =", 5-2)
print("5 * 2 =", 5*2)
print("5 / 2 =", 5/2)
print("5 // 2 =", 5//2)
print("5 ** 2 =", 5**2)
print("5 % 2 =", 5%2)

5 + 2 = 7
5 - 2 = 3
5 * 2 = 10
5 / 2 = 2.5
5 // 2 = 2
5 ** 2 = 25
5 % 2 = 1

In [3]:
x = 5 # equivalent to x = 5
x += 5 # equivalent to x = x + 5
x -= 5 # equivalent to x = x - 5
x *= 5 # equivalent to x = x * 5
x /= 5 # equivalent to x = x / 5
x %= 5 # equivalent to x = x % 5
x //= 5 # equivalent to x = x // 5
x **= 5 # equivalent to x = x ** 5

In [4]:
num1 = 10
num2 = 5

print(num1, ">", num2, "=", num1 > num2)
print(num1, ">=", num2, "=", num1 >= num2)
print(num1, "<", num2, "=", num1 < num2)
print(num1, "<=", num2, "=", num1 <= num2)
print(num1, "==", num2, "=", num1 == num2)
print(num1, "!=", num2, "=", num1 != num2)

10 > 5 = True
10 >= 5 = True
10 < 5 = False
10 <= 5 = False
10 == 5 = False
10 != 5 = True

In [5]:
print("True and True =", True and True)
print("True and False =", True and False)
print("False and True =", False and True)
print("False and False =", False and False)

True and True = True
True and False = False
False and True = False
False and False = False

In [6]:
print(True and False and False)

False

In [7]:
print("True or True =", True or True)
print("True or False =", True or False)
print("False or True =", False or True)
print("False or False =", False or False)

True or True = True
True or False = True
False or True = True
False or False = False

In [8]:
print("not True =", not True)
print("not False =", not False)

not True = False
not False = True