<a href="https://colab.research.google.com/github/sudenurozturk/Intro2Python/blob/main/variables_data_types_type_conversion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables, data types, type **conversion**

A **variable** is essentially the name of the container which holds values of different types of data. 3 data types are:


1. Numbers: can be integers, floats, or complex numbers.
2. Strings: are basically texts.
3. Lists: can hold different data types together.

In [2]:
name = 'Deniz'

name

'Deniz'

In [1]:
age = 25

age

25

In [3]:
print(name)
print(age)

Deniz
25

There are three main data types: numbers, text, or lists. We can print the data type of a variable by using the **type ()** function.

In [4]:
print(type(name))
print(type(age))

<class 'str'>
<class 'int'>

In [5]:
name = 'Deniz'

type(name)

str

In [6]:
age = 25
type(age)

int

In [7]:
pi = 3.14
type(pi)

float

In [8]:
store_items = ['Apple', 1.49, 'Banana', 1, 'Milk', 2.99, 'Cheese', 4.49]
print(store_items, type(store_items))

['Apple', 1.49, 'Banana', 1, 'Milk', 2.99, 'Cheese', 4.49] <class 'list'>

In [9]:
print(store_items[2])

Banana

In [10]:
print(store_items[0:4])

['Apple', 1.49, 'Banana', 1]

In [11]:
print(store_items[2:])

['Banana', 1, 'Milk', 2.99, 'Cheese', 4.49]

In [12]:
print(store_items[:2])

['Apple', 1.49]

Lists are changeable data types.

In [13]:
store_items[2] = 'Chocolate'
print(store_items)

['Apple', 1.49, 'Chocolate', 1, 'Milk', 2.99, 'Cheese', 4.49]

In [14]:
age = 25
print(age, type(age))

25 <class 'int'>

In [15]:
age = 25
age += 0.5
print(age, type(age))

25.5 <class 'float'>

In [16]:
age = '25'
type(age)

str

We can convert data types using predefined functions

In [17]:
age =int(age)
print (age, type(age))

25 <class 'int'>